.nextui-c-iwmZdB{
    --nextui--inputTextColor: #FFF !important;
    --nextui--inputHoverBorderColor: #FFF !important;
    --nextui--inputLabelColor: #FFF !important;
}

.nextui-c-iWjDFM-kaRBtV-cv{
    background: #EDEDED !important;
    color: #121212 !important;
}

.nextui-c-iWjDFM-hkKLfu-color-default{
    background: #EDEDED !important;
    color: #121212 !important;
}

.nextui-c-iWjDFM-hKBzkL-cv{
    background: #FFFFFF !important;
    color: #121212 !important;
    /* border-color: #121212 !important; */
}

.dropdownMenu, .nextui-t-jltrts{
    --nextui-colors-primary: #000000 !important;
}